// colors of the page
$main-color:#e2494c;
$second-color:#f1867f;
$text-color:#9c9c9c;

// screens

$sm:'(min-width:576px)';
$md:'(min-width:768px)';
$lg:'(min-width:992px)';
$xl:'(min-width:1200px)';

// columns of grid system:

$grid_col:12;
