
body{
    font: {
        family:Tahoma;
    }
}
// text places
.text-center{
    text-align: center;
}
.text-right{
    text-align:right;
}
.text-left{
    text-align: left;
}
// text colors
.text-main-color{
    color:$main-color !important;
}
.text-second-color{
    color:$second-color !important;
}
.text-color{
    color:$text-color;
}
// background colors
.bg-main-color{
    background-color: $main-color !important;
}
.bg-second-color{
    background-color: $second-color !important;
}
// list unstyld : withoud any boullet
.list-unstyled{
    list-style: none !important;
}

.text-decoration-none{
    text-decoration: none !important;
}
.text-bold{
    font-weight:bold !important;
}
.text-italic{
    font-style:italic !important;
}
.text-uppercase{
    text-transform: uppercase !important;
}
.text-capitalize{
    text-transform: capitalize !important;
}

// border with diffrent colors
.border-main-color{
    border:1px solid $main-color !important;
}
.border-second-color{
    border:1px solid $second-color !important;
}

// style of circular

.circular{
    display:block;
    height:600px;
    width:100%;
    position:relative;
    overflow: hidden;
    .circular-indicators{
        position:absolute;
        bottom:5px;
        left:50%;
        transform: translateX(-50%);
        padding:0;
        z-index:1000;
        >*{
            display: inline-block;
            width:20px;
            height:20px;
            background-color: #ddd;
            border:1px solid #555;
            border-radius:50%;
            cursor:pointer;
            &:hover{
                background-color: white;
            }
        }
        .active{
            background-color: $second-color;
        }
    }
    .circular-inner{
        height:100%;
        width:100%;
        .circular-item{
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            transition: 1s;
            img{
                width:100%;
                height:100%;
            }
        }
    }
}
